* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #a2f2a2;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 40px;   
}

nav a {
    margin: 40px;
    text-decoration: none;
    color: rgb(75, 152, 126);
    font-size: 17px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(37, 69, 58);
}

section {
    /* border: solid 1px black; */
    text-align: center;
    justify-content: space-between;
}


.texto-aleat {
    margin: 30px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
 
div {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    text-align:center;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}
 
img.produto {
    width: 250px;
}

button.comprar{
    background-color: #a2f2a2;
    border-style: solid white;
    border-radius: 10rem;
    padding: 0.5vh;
}

button.comprar:hover{
    background-color: #75b875;
}

#botao-veja-mais {
    text-align: center;
    margin: 50px;
  }

#botao-veja-mais a {
    color: #58a058;
    text-decoration: none;
    font-size: 23px;
}

#botao-veja-mais a:hover {
    color: #a2f2a2;
    text-decoration: underline;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: #a2f2a2;
  }
  
footer p {
    display: block;
    margin-top: 10px;
}

#ultimop{
    padding-bottom: 10rem;
}

.quem_somos_texto p {
    margin: 20px 40px 20px 40px;
    text-align: justify;
}

.quem_somos_texto img{
    width: fit-content;
}
section.quem_somos_texto h2{
    margin-top: 30px;
}
.contact_section{
    margin: 5% auto 5% auto;  
    text-align: center;
    align-items: center;
    width: 30rem;
    height: 100%;
}
 form {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #3acf3a48;
    padding: 2.5rem;
    border-radius: 1rem;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

 form input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1rem 0 1rem 0;
    border-radius: 1rem;
}

form textarea {
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1rem 0 1rem 0;
    border-radius: 1rem;
}
button {
    border-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #8bf78b9c;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button:hover {
    background-color: #69c069;
}

.contact_form a {
    margin-bottom: 1rem;
}

.registrar {
    margin: 10px;
}

.social-media {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    border: none;
    width: auto;
    height: auto;
}

.social-media img {
    width: 40px;
    margin: 20px 10px 20px 10px;
   
}
